PORT=5000
DB_URL=mongodb+srv://your_username:your_password@cluster0.e2kxuck.mongodb.net/example_your_Db?retryWrites=true&w=majority&appName=Cluster0
NODE_ENV=development,
BCRYPT_SALT_ROUND=00
# JWT
JWT_ACCESS_SECRET=access_secret
JWT_ACCESS_EXPIRES=1d